<div class="col s8 m7">
  <h2 class="header">Fornecedor</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="../../../../static/logo-beer.jpeg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{fornecedorProfile?.nome}}</p>
        <p>Cnpj: {{fornecedorProfile?.cnpj}}</p>
        <p>Contato: {{fornecedorProfile?.email}}</p>
        <p>Total de itens: {{totalItens}}</p>
      </div>
      <div class="card-action">
        <a (click)="enableFormProduct(null)">Cadastrar produto</a>
      </div>
    </div>
  </div>
</div>

<lista-produtos-page
        (updateProdutoEvent)="enableFormProduct($event)"
        (updateTotalItens)="getTotalItens()"
        [idFornecedor]="fornecedorProfile.id"
        *ngIf="!enableFormProductBoolean"></lista-produtos-page>

<cadastro-produtos-page
        (disableFormProduct)="disableFormProduct($event)"
        [produtoUpdate]="productUpdate"
        [fornecedorId]="fornecedorProfile.id"
        *ngIf="enableFormProductBoolean"></cadastro-produtos-page>
