<div class="col s8 m7">
  <h2 class="header">Fornecedor</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="../../../../static/logo-beer.jpeg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{fornecedorProfile.nome}}</p>
        <p>Cnpj: {{fornecedorProfile.cnpj}}</p>
        <p>Contato: {{fornecedorProfile.email}}</p>
        <p>Total de itens: {{fornecedorProfile.produtos.length}}</p>
      </div>
      <div class="card-action">
        <a >Cadastrar produto</a>
      </div>
    </div>
  </div>
</div>

<lista-produtos-page [idFornecedor]="fornecedorProfile.id" [ItemsPerPage]="4" (updateList)="updateProfile($event)"></lista-produtos-page>
