<h3>cadastrar produto</h3>
<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <input type="hidden" formControlName="id">
      <div class="input-field col s6">
        <input id="desccricao" type="text" class="validate" formControlName="descricao" [(ngModel)]="produto.descricao">
        <label for="desccricao">Descrição</label>
      </div>
      <div class="input-field col s6">
        <input id="codProduto" type="text" class="validate" formControlName="codProduto" [(ngModel)]="produto.codProduto">
        <label for="codProduto">Cód</label>
      </div>
      <div class="input-field col s6">
        <input id="preco" type="text" class="validate" formControlName="preco" [(ngModel)]="produto.preco">
        <label for="preco">Preço</label>
      </div>
    </div>

    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
