<a class="waves-effect waves-light btn-large right" (click)="toggleAction('register')" *ngIf="listData">Novo Fornecedor</a>
<a class="waves-effect waves-light btn-large right" (click)="toggleAction('list')" *ngIf="registerData">Listar Fornecedores</a>

<lista-fornecedores-page *ngIf="listData" (fornecedorUpdate)="updateDate($event)" (fornecedorClear)="clear($event)"></lista-fornecedores-page>
<cadastro-fornecedores-page *ngIf="registerData" [fornecedorUpdate]="fornecedorUpdate"></cadastro-fornecedores-page>
