<a class="waves-effect waves-light btn-large right" (click)="toggleAction('register')" *ngIf="listData">Novo Fornecedor</a>
<a class="waves-effect waves-light btn-large right" (click)="toggleAction('list')" *ngIf="registerData || profile">Listar Fornecedores</a>

<lista-fornecedores-page *ngIf="listData"
                         (fornecedorUpdate)="updateDate($event)"
                         (fornecedorClear)="clear($event)"
                          (fornecedorProfile)="showProfile($event)"
                          ></lista-fornecedores-page>

<cadastro-fornecedores-page *ngIf="registerData" [fornecedorUpdate]="fornecedor"></cadastro-fornecedores-page>

<perfil-fornecedores-page *ngIf="profile" [fornecedorProfile]="fornecedor"></perfil-fornecedores-page>
