<h3>Fornecedores</h3>
<table>
  <thead>
  <tr>
    <th>Fornecedor</th>
    <th>Contato</th>
    <th>CNPJ</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let fornecedor of fornecedores?.content | paginate: { id: 'foo',
                                                                    itemsPerPage: pageRequest?.size,
                                                                    currentPage: pageRequest?.page + 1,
                                                                    totalItems: pageRequest?.totalElements}">

    <td (click)="show(fornecedor)"><a class="">{{fornecedor.nome}}</a></td>
    <td>{{fornecedor.email}}</td>
    <td>{{fornecedor.cnpj}}</td>
    <td><a class="btn-floating waves-light red" (click)="deleteById(fornecedor.id)"><i class="material-icons">delete</i></a></td>
    <td><a class="btn-floating waves-light blue-grey" (click)="update(fornecedor)"><i class="material-icons">edit</i></a></td>
  </tr>

  </tbody>
</table>

<pagination-controls  id="foo"
                      (pageChange)="pageChanged($event -1)"
                      directionLinks="true"
                      autoHide="true">
</pagination-controls>
